body{
    margin: 0px;
}

.mainwrap{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(255, 233, 233);
}

main{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    height: 600px;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
    padding-top: 80px;
}

.hero{
    display: flex;

}

.heroimg{
}